body{
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

header{
    background-color: purple;
    color:white;
    padding:15px;
}

footer{
    width: 100%;
}

footer{
    background-color: purple;
    color:white;
    padding:15px;
}

    
